// ============== global classes ===============

:root {
    --glob-height: 100vh;
    --nav-width: 25%;
    --action-width-c: 100%;
    --action-width-o: 75%;
    --width-transition: transform 0.5s, width 0.5s;
}
.flex {
    display: flex;
}
.flexCen {
    justify-content: center;
    align-items: center;
}
.hei {
    height: var(--glob-height);
}

.col {
    flex-flow: column;
}

.jsCen {
    justify-content: center;
}

.alCen {
    align-items: center;
}

// =============================================

.action {
    min-height: var(--glob-height);
    position: relative;
    display: flex;
    justify-content: flex-end;

    button[class=""] + nav {
        transform: translateX(-100%);
    }
    button[class="open"] + nav {
        transform: translateX(0);
    }
    button[class=""] ~ section {
        width: var(--action-width-c);
    }
    button[class="open"] ~ section {
        width: var(--action-width-o);
    }
    nav {
        position: absolute;
        left: 0;
        top: 0;
        background: var(--secondary);
        transition: var(--width-transition);
        padding: 3rem 0;
        height: var(--glob-height);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {
            list-style-type: none;
            li {
                width: 90%;
            }
        }
        width: 25%;
        min-width: 10rem;

        a, button {
            border-bottom: solid var(--primary) 1px;
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: block;
            color: var(--gray-dark);
            transition: all 0.3s;
            text-align: left;
        }
        a:hover {
            color: var(--orange);
            background-color: var(--primary);
        }
    }
    section {
        transition: var(--width-transition);
        height: var(--glob-height);
    }
}
