@import "../Global.module.scss";

@import "../../App.scss";
// ============== global classes ===============


:root {
    --nav-width: 15%;
    --glob-height: 100vh;
    --action-width-o: 85%;
    --action-width-c: 100%;
    --width-transition: transform 0.5s, width 0.5s;
}

// =============================================



.action {
    min-height: var(--glob-height);
    display: flex;
    justify-content: flex-end;

    section {
        overflow: hidden;
    }
  
}


@media screen and (max-width: $breakpoint-xl) {
    :root {
        --nav-width: 30%;
        --action-width-o: 70%;
    }
}



@media screen and (max-width: $breakpoint-md) {
    :root {
        --nav-width: 90%;
        --action-width-o: 100%;
    }
}
