* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107; // light mode buttons
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40; // dark mode background
    --primary: #7a8ea3; // light mode background
    --secondary: #6c757d65;



    
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-dark: #020202;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

html {
    font-size: clamp(16px, 1.5vw, 100px);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: var( --font-family-sans-serif);
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
    margin: 2rem;
    background-color: var(--gray-dark);
    box-shadow: inset 0 0 5px var(--gray);
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: solid var(--gray-dark) 3px;

    width: 0.6rem;
    background: var(--background_color);
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background_color_hover);
}
