.heading_anim {
    background: linear-gradient(
        -45deg,
        var(--dark) 10%,
        var(--white) 20%,
        var(--dark-dark) 40%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 10%;
    text-shadow: 10px 5px 5px var(--gray);

    animation: textBackground 8s cubic-bezier(0.215, 0.61, 0.355, 1)
    1 forwards;
}

@keyframes textBackground {
    100% {
        background-position: -200%;
        text-shadow: -10px 5px 12px     var(--gray);
    }
}
